<nav>
  <ul>
    <li><a href="/">Início</a></li>
    <li><a href="/meus-cronogramas">Meus Cronogramas</a></li>
    <li><a href="/provas-antigas">Provas Antigas</a></li>
    <li><a href="/disciplinas">Disciplinas</a></li>
    <li><a href="/simulados">Simulados</a></li>
    <li><a href="/login" class="btn">Entrar</a></li>
  </ul>
</nav>