<%- include('partials/header', {title: 'Provas ENEM - Lumina Edu'}); %>

<div class="container py-4">
  <h1 class="text-center mb-4">Provas ENEM por Ano</h1>
  
  <div class="row g-4">

    <!-- Card 2024 -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-header text-center p-0 bg-verde">
          <img 
            src="/images/cards/enem-2024.jpg" 
            alt="Prova ENEM 2024" 
            class="img-fluid w-100"
            style="height: 120px; object-fit: cover;"
          >
        </div>
        <div class="card-body">
          <h3 class="card-title text-center mb-3">ENEM 2024</h3>
          <div class="d-grid gap-2">
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2024_PV_impresso_D1_CD1.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 1
            </a>
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2024_PV_impresso_D2_CD7.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 2
            </a>
            <div class="row mt-2 g-2">
              <div class="col-6">
                <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2024_GB_impresso_D1_CD1.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 1
                </a>
              </div>
              <div class="col-6">
                <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2024_GB_impresso_D2_CD7.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 2
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Card 2023 -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-header text-center p-0 bg-verde">
          <img 
            src="/images/cards/enem-2023.jpg" 
            alt="Prova ENEM 2023" 
            class="img-fluid w-100"
            style="height: 120px; object-fit: cover;"
          >
        </div>
        <div class="card-body">
          <h3 class="card-title text-center mb-3">ENEM 2023</h3>
          <div class="d-grid gap-2">
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2023_PV_impresso_D1_CD2.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 1
            </a>
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2023_PV_impresso_D2_CD5.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 2
            </a>
            <div class="row mt-2 g-2">
              <div class="col-6">
                <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2023_GB_impresso_D1_CD2.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 1
                </a>
              </div>
              <div class="col-6">
                <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2023_GB_impresso_D2_CD5.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 2
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Card 2022 -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-header text-center p-0 bg-verde">
          <img 
            src="/images/cards/enem-2022.jpg" 
            alt="Prova ENEM 2022" 
            class="img-fluid w-100"
            style="height: 120px; object-fit: cover;"
          >
        </div>
        <div class="card-body">
          <h3 class="card-title text-center mb-3">ENEM 2022</h3>
          <div class="d-grid gap-2">
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2022_PV_impresso_D1_CD3.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 1
            </a>
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2022_PV_impresso_D2_CD6.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 2
            </a>
            <div class="row mt-2 g-2">
              <div class="col-6">
                <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2022_GB_impresso_D1_CD3.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 1
                </a>
              </div>
              <div class="col-6">
                <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2022_GB_impresso_D2_CD6.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 2
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


         <!-- Card 2021 -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-header text-center p-0 bg-verde">
          <img 
            src="/images/cards/enem-2021.jpg" 
            alt="Prova ENEM 2021" 
            class="img-fluid w-100"
            style="height: 120px; object-fit: cover;"
          >
        </div>
        <div class="card-body">
          <h3 class="card-title text-center mb-3">ENEM 2021</h3>
          <div class="d-grid gap-2">
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2021_PV_impresso_D1_CD4.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 1
            </a>
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2021_PV_impresso_D2_CD8.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 2
            </a>
            <div class="row mt-2 g-2">
              <div class="col-6">
                <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2021_GB_impresso_D1_CD4.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 1
                </a>
              </div>
              <div class="col-6">
                <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2021_GB_impresso_D2_CD8.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 2
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

             <!-- Card 2020 -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-header text-center p-0 bg-verde">
          <img 
            src="/images/cards/enem-2020.jpg" 
            alt="Prova ENEM 2020" 
            class="img-fluid w-100"
            style="height: 120px; object-fit: cover;"
          >
        </div>
        <div class="card-body">
          <h3 class="card-title text-center mb-3">ENEM 2020</h3>
          <div class="d-grid gap-2">
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2020_PV_impresso_D1_CD4.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 1
            </a>
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2020_PV_impresso_D2_CD8.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 2
            </a>
            <div class="row mt-2 g-2">
              <div class="col-6">
                <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2020_GB_impresso_D1_CD4.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 1
                </a>
              </div>
              <div class="col-6">
                <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2020_GB_impresso_D2_CD8.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 2
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


                 <!-- Card 2019 -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-header text-center p-0 bg-verde">
          <img 
            src="/images/cards/enem-2019.jpg" 
            alt="Prova ENEM 2019" 
            class="img-fluid w-100"
            style="height: 120px; object-fit: cover;"
          >
        </div>
        <div class="card-body">
          <h3 class="card-title text-center mb-3">ENEM 2019</h3>
          <div class="d-grid gap-2">
            <a href="https://download.inep.gov.br/educacao_basica/enem/provas/2019/2019_PV_impresso_D1_CD3.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 1
            </a>
            <a href="https://download.inep.gov.br/educacao_basica/enem/provas/2019/2019_PV_impresso_D2_CD6.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 2
            </a>
            <div class="row mt-2 g-2">
              <div class="col-6">
                <a href="https://download.inep.gov.br/educacao_basica/enem/gabaritos/2019/gabarito_1_dia_caderno_3_branco_aplicacao_regular.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 1
                </a>
              </div>
              <div class="col-6">
                <a href="https://download.inep.gov.br/educacao_basica/enem/gabaritos/2019/gabarito_2_dia_caderno_6_cinza_aplicacao_regular.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 2
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


                     <!-- Card 2018 -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-header text-center p-0 bg-verde">
          <img 
            src="/images/cards/enem-2018.jpg" 
            alt="Prova ENEM 2018" 
            class="img-fluid w-100"
            style="height: 120px; object-fit: cover;"
          >
        </div>
        <div class="card-body">
          <h3 class="card-title text-center mb-3">ENEM 2018</h3>
          <div class="d-grid gap-2">
            <a href="https://download.inep.gov.br/educacao_basica/enem/provas/2018/2018_PV_impresso_D1_CD1.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 1
            </a>
            <a href="https://download.inep.gov.br/educacao_basica/enem/provas/2018/2018_PV_impresso_D2_CD7.pdf" class="btn btn-sm btn-enem">
              <i class="fas fa-file-pdf me-1"></i> Prova Dia 2
            </a>
            <div class="row mt-2 g-2">
              <div class="col-6">
                <a href="https://download.inep.gov.br/educacao_basica/enem/gabaritos/2018/GAB_ENEM_2018_DIA_1_AZUL.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 1
                </a>
              </div>
              <div class="col-6">
                <a href="https://download.inep.gov.br/educacao_basica/enem/gabaritos/2018/GAB_ENEM_2018_DIA_2_AZUL.pdf" class="btn btn-sm btn-gabarito w-100">
                  <i class="fas fa-check me-1"></i> Gabarito 2
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

<%- include('partials/footer'); %>
